






# backup
# commonly ignored files
# editors
# os x
# tools
# version control
*._flymake.*
*.gem
*.project
*.pyc
*.so
*.stackdump
*.tmproj
*~
.#*
.DS_Store
.bak
.bzr
.hg
.svn
.yardoc
/**/*DO_NOT_VERSION*
/**/log/*
/**/tmp/*
/Gemfile.lock
/doc/*
/pkg/*
Icon?
TAGS*
\#*
\.#*
a.out
nohop.out
spec/test.yml
tmp/
